
@import '@/styles/abstract';

.title {
  text-align: center;
}

.about-box {
  text-align: center;
  margin-bottom: 2em;
}

.btn-box {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

