
@import '@/styles/abstract';

.body {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
}

.var-name {
  padding: 0.3em 0.4em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;

  cursor: default;

  &:hover, 
  &:focus {
    background-color: lightgoldenrodyellow;
  }
}