
@import '@/styles/abstract';

.wrapper {
  display: inline-block;
  position: relative;
  padding-top: 1em;
  //@include debug-border(green)
}

.label-box {
  display: inline-block;
  position: absolute;
  left: 0.3em;
  top: 0em;
  height: 1em;
  padding: 0 1px;
  //@include debug-border(blue)
}

.label {
  position: relative;
  left: 0;
  top: 0;
}

.border-overlay {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: white;
}